<header>
  <nav>
    <a href="/">Dashboard</a>
    <ul>
        <li><a href="/partners">Tous les partenaires</a></li>
        <li><a href="/partners/new">Ajouter un partenaire</a></li>
    </ul>
  </nav>  

</header>