<h2>Ajouter une partenaire</h2>

<form action="/partners" method="POST">
    <%- include('_form_fields') %> 
  <a href="/partners">Annuler</a>
    <button type="submit" class="btn btn-primary">créer un nouveau partenaire</button>
  </form>