<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestionnaire de client</title>
    <link rel="stylesheet" href="styles/style.css" />


    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

  </head>

  <body class="bg-white dark:bg-gray-900">
    <div class="flex flex-row">
   
      <%- include('../partials/header.ejs') %> 
      <%- include('../partials/Sidebar.ejs') %> 
      <div class="flex-auto m-8">
      <%- include('../partials/errorMessage.ejs') %> 

     
      <%- body %>
    </div>
      <script src="js/script.js"></script>
      
      <script>
        //Dark Mode
        // On page load or when changing themes, best to add inline in `head` to avoid FOUC
        if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            document.documentElement.classList.add('dark');
        } else {
            document.documentElement.classList.remove('dark')
        }
    </script>

<script>
  /*
$(function(){
$.('#default-search').autocomplete({
  source: function(req, res){

    $.ajax({
      url:"partners/", 
      dataType: 'jsonp', 
      type: 'GET', 
      data: req, 
      success: function(data) {

      }, 
      error : function(err){
        console.log(err.status)
      }
    })
  }
});
});
*/
</script>
</div>
  </body>
</html>
